on: [push]
name: Continuous Integration

jobs:

  build-only-ios:
    env:
      Wap_Project_Directory: osu.iOS
    name: Build only (iOS)
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2

      - name: Install .NET 6.0.x
        uses: actions/setup-dotnet@v2.1.0
        with:
          dotnet-version: "6.0.x"

      # Contrary to seemingly any other msbuild, msbuild running on macOS/Mono
      # cannot accept .sln(f) files as arguments.
      # Build just the main game for now.
      - name: Build
        run: |
             msbuild osu.iOS/osu.iOS.csproj /restore /p:Configuration=Release /p:Platform=iPhoneSimulator
             
      - name: Create ipa
        run: |
             mkdir build && mkdir build/Payload
             mv osu.iOS/bin/iPhoneSimulator/Release/osu.iOS.app build/Payload/osu.iOS.app
             7z a build/osu.ipa build/Payload
        
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3.1.0
        with:
          name: ipa
          path: 'build/osu.ipa'
